<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>AD Testing</p>

  <p *ngIf="loggedInName">Hello {{ loggedInName }}</p>
  <p *ngIf="group">{{ group }}</p>

  <button ion-button (click)="login()">Login Test</button>
  <button ion-button (click)="logout()">Logout</button>

  <p class="color: red" *ngIf="error">{{ error | json }}</p>
 
  <br />
  <span *ngIf="otherData">{{ otherData | json }}</span>
</ion-content>
