<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="asam-plugin"
    version="1.0.0">
    <name>Autonomous Single App Mode (iOS)</name>
    <description>Provide API to enable/disable Autonomous Single App Mode on iOS (UIAccessibilityRequestGuidedAccessSession)</description>
    <license>MIT</license>
    <keywords>asam, guided-access</keywords>
    <repo>https://github.com/dvsa/mobile-examiner-alpha-sandbox</repo>
    <issue>none</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ASAM" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ASAM">
                <param name="ios-package" value="ASAM" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ASAM.h" />
        <source-file src="src/ios/ASAM.m" />
    </platform>
</plugin>
